/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━  WEIGHTS  ━━━━━━━━━━━━━━━━━━━━━━━━━━━*/

// 300 • light
@font-face
    font-family: 'Titillium Web'
    font-weight: 300
    font-style: normal
    font-display: swap
    src: url(source + 'Titillium Web/light.ttf') format('truetype')

// 400 • regular
@font-face
    font-family: 'Titillium Web'
    font-weight: 400
    font-style: normal
    font-display: swap
    src: url(source + 'Titillium Web/regular.ttf') format('truetype')

// 400i • regular: italic
@font-face
    font-family: 'Titillium Web'
    font-weight: 400
    font-style: italic
    font-display: swap
    src: url(source + 'Titillium Web/regular-italic.ttf') format('truetype')

// 600 • semibold
@font-face
    font-family: 'Titillium Web'
    font-weight: 600
    font-style: normal
    font-display: swap
    src: url(source + 'Titillium Web/semibold.ttf') format('truetype')

// 600 • semibold: italic
@font-face
    font-family: 'Titillium Web'
    font-weight: 600
    font-style: italic
    font-display: swap
    src: url(source + 'Titillium Web/semibold-italic.ttf') format('truetype')

// 700 • bold
@font-face
    font-family: 'Titillium Web'
    font-weight: 700
    font-style: normal
    font-display: swap
    src: url(source + 'Titillium Web/bold.ttf') format('truetype')

// 700 • bold: italic
@font-face
    font-family: 'Titillium Web'
    font-weight: 700
    font-style: italic
    font-display: swap
    src: url(source + 'Titillium Web/bold-italic.ttf') format('truetype')
