section(class="canvas front" id="front")

    div(class="content")

        h2 KeyRisk

        div

            h3 Analytics-enabled risk management for crypto asset storage.

            div     
            
                h4 With the rapid rise of cryptocurrency as an asset class, companies that store and exchange cryptocurrency face unique security risks.
                
                div
                
                h5 Choose your industry:

                    div
                        a(href="#section-2") Custody
                        a(href="#section-3") Insurance
                        a(href="#section-3") Central Banking
                        a(href="#section-3") Defense


    +nav-1({ target: "section-1", direction: "next" })
