section(class="canvas front" id="front")

    div(class="content")

        h2 KeyRisk

        div

            h3 Analytics-enabled risk management for crypto asset storage.

            div     
            
                h4 With the rapid rise of cryptocurrency as an asset class, companies that store and exchange cryptocurrency face unique security risks.

                div

                    a(href="#section-2") Button 1
                    a(href="#section-3") Button 2

    +nav-1({ target: "section-1", direction: "next" })
